.form-control {
  border-radius: 12px !important;
  width: 100% !important;
  height: 37.5px !important;
  outline: none !important;
  border: 1px solid #333 !important;
}

.flag-dropdown {
  border-radius: 12px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
}
